html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.header {
  padding: 15px; display: flex; align-items: center;
  justify-content: space-between;
}

.header + #iframe {
    height: calc(100vh - 90px);
}
#iframe {
  position: relative;
}
#iframe:before {
  position: absolute; content: "";
  background:rgba(0, 0, 0, .5);
}
.menu-bar li {
  list-style: none; display: inline-block;
  margin-right: 20px;
}

